body  {
	background-color: #f6f4f1;
	font-family: sans-serif;
}
div {
  	height: 175px;
  	width: 50%;
  	padding-top: 20px;
  	padding-left: 20px;
  	background-color: white;
  	margin: auto;
}
a {
	text-decoration: none;
}
p {
	font-size:small ;
}
